@import "tailwindcss";
@theme {
  --font-mono: "Fira Code", "Roboto Mono", monospace;

  --color-navy-bg: #0a192f;
  --color-slate-light: #ccd6f6;
  --color-sapphire-bg: #112240;
  --color-mint-accent: #64ffda;
  --color-slate-dark: #8892b0;
}
html {
  scroll-behavior: smooth;
}

@keyframes subtle-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.animate-subtle-zoom {
  animation: subtle-zoom 20s infinite alternate ease-in-out;
}
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-in {
  animation: fadeIn 0.8s ease-out forwards;
}
.input {
  @apply w-full bg-black/40 border border-white/10 p-4 rounded-xl text-white text-sm outline-none focus:border-sky-500 transition-all;
}
section {
  background-color: rgb(0, 0, 0);
}
h1,
h2,
h3,
h4 {
  color: #e5e7eb;
}
p {
  color: #9ca3af;
}
